version: '3.8'
services:
  # Hamara Backend Service
  api:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/shortener
    depends_on:
      - mongo

  # Database Service (Alag se install karne ki zaroori nahi)
  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: